<div class="row" *ngIf="!isConnected; else chatTemplte">
    <div class="col-lg-8 offset-lg-2">
        <div class="row justify-content-center g-3">
            <div class="col-lg-6" *ngIf="answerData">
                <label class="mb-2">ข้อมูล Answer</label>
                <textarea rows="10" pInputTextarea class="w-100" disabled>{{ answerData }}</textarea>
            </div>

            <div class="col-lg-6" *ngIf="!answerData">
                <label class="mb-2">ข้อมูล Offer</label>
                <textarea rows="7" pInputTextarea class="w-100" [(ngModel)]="offerData"></textarea>
                <button pButton label="สร้างข้อมูล Answer" class="mt-2 w-100 p-button-warning"
                    (click)="onCreateAnswer()"></button>
            </div>
        </div>
    </div>
</div>

<ng-template #chatTemplte>
    <form class="row" (submit)="onSendMessage(input)">
        <div class="col-lg-8 offset-lg-2">
            <div class="row g-3">
                <div class="col-lg-8">
                    <input type="text" pInputText class="w-100" placeholder="พิมพ์ข้อความที่นี่" #input>
                </div>
                <div class="col-lg-4">
                    <button class="w-100 p-button-danger" pButton label="ส่งข้อความ"></button>
                </div>

                <div class="col-lg-12" *ngFor="let item of messageItems">
                    <p-card [header]="item.isMe ? 'ฉันเอง' : 'คนอื่น'">
                        <p class="m-0">{{ item.text }}</p>
                    </p-card>
                </div>
            </div>
        </div>
    </form>
</ng-template>