<div class="row justify-content-center">
    <div class="col-lg-8">
        <form class="row mb-4 g-2">
            <div class="col-lg-8">
                <div class="p-input-icon-left w-100">
                    <i class="pi pi-comment"></i>
                    <input type="text" pInputText class="w-100" placeholder="เพิ่มข้อความที่นี่...">
                </div>
            </div>
            <div class="col-lg-4">
                <button pButton label="ส่งข้อความ" class="w-100 p-button-danger" icon="pi pi-send"></button>
            </div>
        </form>

        <p-panel header="ฉันเอง" styleClass="mb-2">
            สวัสดีค่ะ
        </p-panel>

        <p-panel header="เพื่อนฉัน" styleClass="mb-2">
            สวัสดีครับผม
        </p-panel>
    </div>
</div>