<div class="row justify-content-center">
    <div class="col-lg-8">
        <form class="row g-2 mb-4" (submit)="onSubmit()">
            <div class="col-lg-8">
                <div class="p-input-icon-left w-100">
                    <i class="pi pi-comment"></i>
                    <input type="text" pInputText class="w-100" placeholder="พิมพ์ข้อความที่นี่..." [(ngModel)]="text"
                        name="text">
                </div>
            </div>
            <div class="col-lg-4">
                <button pButton label="ส่งข้อความ" class="w-100 p-button-danger" icon="pi pi-send"></button>
            </div>
        </form>

        <ng-container *ngFor="let item of items">
            <p-panel [header]="item.isMe ? 'ฉันเอง' : 'เพื่อนฉัน'" styleClass="mb-2">
                {{ item.text }}
            </p-panel>
        </ng-container>
    </div>
</div>