<div class="row justify-content-center">
    <div class="col-lg-8">
        <p-card>
            <p-steps [model]="steps" [(activeIndex)]="step" styleClass="py-4"></p-steps>
            <ng-container [ngSwitch]="step">
                <div class="row justify-content-center" *ngSwitchCase="0">
                    <div class="col-lg-6">
                        <button pButton label="สร้างข้อมูล Offer" class="w-100" (click)="createOffer()"></button>
                    </div>
                </div>

                <div class="row justify-content-center" *ngSwitchCase="1">
                    <div class="col-lg-6">
                        <textarea rows="10" pInputTextarea class="w-100 mb-2"></textarea>

                        <div class="row g-2">
                            <div class="col-lg-6">
                                <button pButton label="ย้อนกลับ" class="w-100 p-button-link" (click)="step = 0"
                                    icon="pi pi-arrow-left"></button>
                            </div>
                            <div class="col-lg-6">
                                <button pButton label="ถัดไป" class="w-100" (click)="step = 2" icon="pi pi-arrow-right"
                                    iconPos="right"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" *ngSwitchCase="2">
                    <div class="col-lg-6">
                        <textarea rows="10" pInputTextarea class="w-100 mb-2"></textarea>
                        <div class="row g-2">
                            <div class="col-lg-6">
                                <button pButton label="ย้อนกลับ" class="w-100 p-button-link" (click)="step = 1"
                                    icon="pi pi-arrow-left"></button>
                            </div>
                            <div class="col-lg-6">
                                <button pButton label="ยืนยัน" class="w-100 p-button-warning" icon="pi pi-check"
                                    iconPos="right"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </p-card>
    </div>
</div>