<div class="row justify-content-center" *ngIf="!connected">
    <div class="col-lg-8">
        <p-card>
            <p-steps [model]="steps" [(activeIndex)]="step" styleClass="py-4"></p-steps>
            <ng-container [ngSwitch]="step">
                <div class="row justify-content-center" *ngSwitchCase="0">
                    <div class="col-lg-6">
                        <p-message severity="warn" text="นำข้อมูล Offer ที่ได้มาวางที่ช่องด้านล่างจากนั้นกด ถัดไป"
                            styleClass="w-100 mb-3"></p-message>
                        <textarea pInputTextarea class="w-100 mb-3" rows="10" [(ngModel)]="offerData"></textarea>
                        <button pButton label="ถัดไป" class="w-100 p-button-warning" (click)="storeOffer()"></button>
                    </div>
                </div>

                <div class="row justify-content-center" *ngSwitchCase="1">
                    <div class="col-lg-6">
                        <textarea pInputTextarea class="w-100 mb-3" rows="10" [ngModel]="offerData" disabled></textarea>
                        <div class="row g-2">
                            <div class="col-lg-6">
                                <button pButton label="ย้อนกลับ" class="w-100 p-button-link"
                                    (click)="step = 0"></button>
                            </div>
                            <div class="col-lg-6">
                                <button pButton label="สร้างข้อมูล Answer" class="w-100 p-button-warning"
                                    (click)="createAnswer()"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" *ngSwitchCase="2">
                    <div class="col-lg-6">
                        <p-message severity="warn"
                            text="คัดลอกข้อมูล Answer จากช่องด้านล่าง ส่งไปให้เครื่องที่ต้องการเชื่อมต่อ"
                            styleClass="w-100 mb-3"></p-message>
                        <textarea pInputTextarea class="w-100 mb-3" rows="10" [ngModel]="answerData"
                            disabled></textarea>
                        <button pButton label="ย้อนกลับ" class="w-100 p-button-link" (click)="step = 1"></button>
                    </div>
                </div>
            </ng-container>
        </p-card>
    </div>
</div>