<div class="row justify-content-center">
    <div class="col-lg-8">
        <p-card>
            <p-steps [model]="steps" [(activeIndex)]="step" styleClass="py-4"></p-steps>
            <ng-container [ngSwitch]="step">
                <div class="row justify-content-center" *ngSwitchCase="0">
                    <div class="col-lg-6">
                        <p-message severity="info" styleClass="w-100 mb-3"
                            text="นำข้อมูล Offer ที่ได้มาวางที่ช่องด้านล่างจากนั้นกด ถัดไป"></p-message>
                        <textarea rows="10" pInputTextarea class="w-100 mb-2"></textarea>
                        <button pButton label="ถัดไป" class="w-100 p-button-warning" (click)="step = 1"></button>
                    </div>
                </div>

                <div class="row justify-content-center" *ngSwitchCase="1">
                    <div class="col-lg-6">
                        <textarea rows="10" pInputTextarea class="w-100 mb-2"></textarea>
                        <div class="row g-2">
                            <div class="col-lg-6">
                                <button pButton label="ย้อนกลับ" class="w-100 p-button-link"
                                    (click)="step = 0"></button>
                            </div>
                            <div class="col-lg-6">
                                <button pButton label="สร้างข้อมูล Answer" class="w-100 p-button-warning"
                                    (click)="step = 2"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" *ngSwitchCase="2">
                    <div class="col-lg-6">
                        <textarea rows="10" pInputTextarea class="w-100 mb-2"></textarea>
                        <p-message severity="info" styleClass="w-100 mb-3"
                            text="คัดลอกข้อมูล Answer จากช่องด้านบนส่งไปให้เครื่องที่ต้องการเชื่อมต่อ"></p-message>
                        <button pButton label="ย้อนกลับ" class="w-100 p-button-link" (click)="step = 1"></button>
                    </div>
                </div>
            </ng-container>
        </p-card>
    </div>
</div>